{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="page-header">
            <h2>Ingresar Despacho</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos del Despacho</h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="{% url 'SAIApp:DWMSDespachoIngresar' %}" id="id_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_transporte" class="control-label">{{ form.transporte.label }}</label>
                        {{ form.transporte }}
                    </div>
                    <div class="form-group hidden" id="otro_transporte_field">
                        <label for="id_otro_transporte" class="control-label">{{ form.otro_transporte.label }}</label>
                        {{ form.otro_transporte }}
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_despacho"
                               class="control-label">{{ form.fecha_despacho.label }}</label>
                        {{ form.fecha_despacho }}
                    </div>
                    <div class="form-group">
                        <label for="id_nota" class="control-label">{{ form.nota.label }}</label>
                        {{ form.nota }}
                    </div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <a class="btn btn-default btn-lg" href="{% url 'SAIApp:DWMSDespacho' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp Atrás</a>
                    <button type="submit" id="saveBtn" class="btn btn-primary btn-lg" style="float: right;"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp Guardar</button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                // Otro transporte
                const transporteSelect = document.getElementById('id_transporte');
                const otroField = document.getElementById('id_otro_transporte').closest('.form-group');
                const otroInput = document.getElementById('id_otro_transporte');

                function toggleOtroField() {
                    const selectedText = transporteSelect.options[transporteSelect.selectedIndex].text;
                    if (selectedText.trim().toUpperCase() === 'OTRO') {
                        otroField.classList.remove('hidden');
                        otroInput.focus()
                    } else {
                        otroField.classList.add('hidden');
                        document.getElementById('id_otro_transporte').value = ''; // clear when hidden
                    }
                }

                transporteSelect.addEventListener('change', toggleOtroField);
                toggleOtroField();
            });
        </script>

    {% endif %}
{% endblock %}