{% extends 'base.html' %}
{% load static %}
{% if user.is_authenticated %}
    {% block content %}
        <div class="page-header">
            <h2>Detalles Despacho</h2>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos del Despacho</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6 class="list-group-item-heading">Transporte</h6>
                                <small class="list-group-item-text">{{ despacho.transporte }}</small>
                            {% if despacho.transporte.nombre == 'OTRO' %}
                                <small class="list-group-item-text">- {{ despacho.otro_transporte }}</small>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <h6 class="list-group-item-heading">Fecha despacho</h6>
                            <small class="list-group-item-text">{{ despacho.fecha_despacho }}</small>
                        </li>
                        {% if despacho.nota %}
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Notas</h6>
                                <small class="list-group-item-text text-body-secondary">{{ despacho.nota }}</small>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <h6 class="list-group-item-heading">Creación</h6>
                            <small class="list-group-item-text">{{ despacho.fecha_creacion }} por {{ despacho.creacion_user }}</small>
                        </li>
                        <li class="list-group-item">
                            <h6 class="list-group-item-heading">Modificación</h6>
                            <small class="list-group-item-text ">{{ despacho.fecha_modificacion }} por {{ despacho.mod_user }}</small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Guías Asociadas</h3>
                        </div>
                        <div class="list-group">
                            {% for guia in guias %}
                                <a href="{% url 'SAIApp:DWMSDespachoVerGuia' guia.pk %}" class="list-group-item lh-sm" id="guia_{{ guia.id }}">
                                    <div class="pull-left">
                                        <p class="list-group-item-text">{{ guia.guia_header.folio }}</p>
                                    </div>
                                    <div class="pull-right">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            {% endfor %}
                            <a class="list-group-item text-center active" href="{% url 'SAIApp:DWMSDespachoAgregarGuia' despacho.pk %}">
                                <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Agregar guía</h4>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        {% if fotos %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fotos del despacho</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for foto in fotos %}
                            <div class="col-sm-6 col-md-4">
                                <button class="thumbnail foto-thumbnail" data-toggle="modal" data-target="#fotoModal" data-url="{{ foto.foto.url }}">
                                    <img src="{{ foto.foto.url }}" alt="banana">
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="fotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="" alt="Foto despacho" class="img-responsive">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row ">
            <div class="col-xs-4 text-left">
                <a class="btn btn-default btn-lg" href="{% url 'SAIApp:DWMSDespacho' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp Atrás</a>
            </div>
            <div class="col-xs-4 text-center">
                <button class="btn btn-danger btn-lg delete-guia"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Eliminar</button>
            </div>
            <div class="col-xs-4 text-right">
                <a href="{% url 'SAIApp:DWMSDespachoEditar' despacho_id=despacho.pk %}" role="button" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Editar</a>
            </div>
        </div>
    {% endblock %}

    {% block script %}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                {% if fotos %}
                var modal = document.getElementById('fotoModal');
                var modalImg = modal.querySelector('.modal-body img');

                var thumbnails = document.querySelectorAll('.foto-thumbnail');

                thumbnails.forEach(function(button) {
                    button.addEventListener('click', function() {
                        var url = button.getAttribute('data-url');
                        modalImg.setAttribute('src', url);
                    });
                });
                {% endif %}
            });
        </script>
    {% endblock %}

{% endif %}
