{% extends 'base.html' %}
{% block content %}
    <div class="container">

        <form class="form-signin" method="post" action="{% url 'SAIApp:login' %}">
            {% csrf_token %}
            <h2 class="form-signin-heading">Login</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" name="username" placeholder="Nombre de usuario" required="required" class="form-control"
                   autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required="">
            <br>
            <button class="btn btn-lg btn-secondary btn-block" type="submit">Login</button>
        </form>

    </div>
{% endblock %}