
<!-- Modal -->
<div class="modal fade" id="scanner_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="reader"></div>
            </div>
            <div class="modal-footer" style="display: block !important;">
                <button type="button" class="btn btn-warning pull-left" id="btn_torch" disabled="disabled"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_close_scanner">Cerrar</button>
            </div>
        </div>
    </div>
</div>